**/*.rs.bk

# Rust
target

# Vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.devcontainer/*
.devcontainer.json
# Local History for Visual Studio Code
.history/
